.wrap{
    width: 7.5rem;
}
.banner{
    a{
        text-decoration: none;
        color: #fff;
    }
    background-color: #c50206;
    height: 2.8126rem;
    .img-wrap{
        border-radius: 50%;
        position: relative;
        left: 155px;
        top: 30px;
        width: 1.2rem;
    }
    .img-wrap .header{
        border: 1px solid #c50206;
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
        background: #fff;
    }
    .no-login{
        position: relative;
        top:20px;
        font-size: 10px;
        text-align: center;
        font-weight: 100;
    }
}
.list{
    width: 7.5rem;
    a{
        text-decoration: none;
        color: #999;
        font-size: 20px;
        height: 1.08px;
        line-height: 1.08rem;

    }
    .item{
        font-size: 18px;
        height: 54px;
        width: 7.5rem;
        line-height: 54px;
        display: block;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        
        span{
            margin-left: 10px;
            display: inline-block;

        }
       
        .icon-right{
             width: 0.16rem;
             height: 13px;
             line-height: 7px;
             margin-left: 10px;
             margin-top: 10px;
             position: relative;
             right: 10px;
             top: 10px;
        }
        .icon-left{
            margin-left: 8px;
            padding-bottom: 10px;
            position: relative;
            top: 10px;
        }
        
    }
}